body{
    margin: 0;
    font-family: 'Bona Nova', serif;
}
.section1{
    display: flex;
    padding: 35px 10px;
    height: 550px;

    
}
.haf-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}

.heading{
    padding-left: 50px;
    margin: 15px;
}
.haf-width h1{
    font-size: 55px;
    font-weight: 700; 
    
}
span{
    color: rgb(255, 0, 221);
}
.haf-width img{
    width: 100%;
}
.top-button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(233, 32, 65) , rgb(136, 17, 126));
    border-radius: 25px;
    font-weight: 700;
}
.section2{
    height: 500px;
    background-image: url(images/shapes/7.png);
    background-size: cover;
    
}
#forid{
    height: 440px;
    padding-top: 2%;
    padding-left: 17%;
    width: 50%;
}
.about{
    padding-top: 4%;
}
.about p{
    padding-bottom: 8%;
    width: 70%;
}
.section3{
    padding: 1% 30%;
    height: 100px;
}
.title{
    text-align: center;
}
.section4{
    width: 90%;
    padding: 5%;
    display: flex; 
    
}
.box{
    width: 35%;
    float: left;
    padding: 10px;
    margin: 15px;
    box-shadow: 0px 0px 20px 0px gray;
}
.box img{
    width: 100%;  
    height: 250px;  
}
.extra{
    height: 350px;
    margin-bottom: 25px;
    margin: 5%;
    display: flex;
}
.new{
    float: left;
    width: 50%;


}
.new img{
    width: 100%;
    height: 350px;
}
.new h1{
    font-size: 28px;
    color: darkorange;
}
.new p{
    color: black;
}
.extra-bg{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-size: cover;

    padding: 15px;
    color: brown;

}
.new a{
    text-decoration: none;
    padding: 10px 25px;
    background-image: linear-gradient(red, orange, yellow);
    border-radius: 10px;
    color: darkblue;
    font-weight: 900;
    font-size: 22px;
}
.section5{
    width: 80%;
    height: 170px;
    margin: 10%;
    
    box-shadow: 0px 0px 10px 0px gray;
    display: flex;
}
.optional{
    width: 35%;
    text-align: center;
    padding-top: 15px;
}
.optional h1{
    font-size: 35px;
    font-weight: 900;
}
footer{
    color: white;
    background-color: black;
    height: 130px;
    
}
footer span{
    color: chartreuse;
}
.last{
    
    text-align: center;
}
